.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
    justify-content: flex-end;
    padding: 20px;
    margin: 10px;
    width: 100%;
    max-height: 400px;
    min-width: 100px;
}

.product__info{
    height: 70px;
    margin-bottom: 15px;
}

.product__price{
    margin-top: 5px;
}

.product__rating{
    display: flex;
}



.product__image{
    max-height: 200px;
    width: 100%;
    object-fit: contain;
    margin-bottom: 15px;
    transition: transform 750ms cubic-bezier(0.55, 0.085, 0.68, 0.53),
    opacity 250ms linear;
}

.product__image:focus{
    position: relative;
    /* z-index: 2; */
}

.product__image:hover{
    transform: scale(1.2);
    opacity: 0.8;
    cursor: pointer;
}





.product__button {
    background-color: #7e8bd6;
    border-radius: 30px;
    padding: 15px;
    border: 1px solid;
    margin-top: 10px;
    border-color: #89a1c4 #879cc5 #8197d3;
    color: white;
}

.product__button:hover{
    padding: 20px;
    border-radius: 40px;
    transition: ease-in-out;
    cursor: pointer;
}